
body{
    background: black;
    background-image: url(/assets/images/interface/crypts.entrance.png);
    background-size: cover;
    background-attachment: fixed;
    color: blanchedalmond;
    text-align: center;
    margin:15px;
    margin: auto;
}
footer, li{
    text-align: left;
}
/*Sala de batalla*/
.battle{
    background-color: transparent ;
    background-image: url(/assets/images/interface/crypts.room_altar.png);
    background-size: 900px;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    width: 1520px;
    border: 1px solid crimson;
    margin: auto;
    align-items: center;
}
/*Background tabla de contenido*/
#BattleStateAll{
    display: grid;
    grid-template-columns: 1fr 1fr;
    pad: 0;
}
#battleStateBannerLeft{
    background-image: url(/assets/images/interface/panel/panelLeft.png);
    background-repeat: no-repeat;
    height: 270px;
    width: 760px;
    border: 1px solid crimson; 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-block-end: auto;
}
#battleStateBannerRight{
    background-image: url(/assets/images/interface/panel/panelRight.png);
    background-repeat: no-repeat;
    height: 270px;
    width: 760px;
    border: 1px solid crimson;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
